@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=VT323&display=swap');

body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
}

p {
      text-indent: 40px;
      line-height: 1.7;
      color: #ccc;
      font-size: 1.1rem;
      font-family: 'Exo 2', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
}

/* Fonts */

.btn-retro, .btn-neon {
      font-family: 'VT323', monospace;
      font-size: 1.4rem;
}

/* History sections */
.history-page {
      padding-top: 150px;
      background-color: #050505;
      min-height: 100vh;
      color: white;
      font-family: sans-serif;
}

.page-title {
      text-align: center;
      font-size: 3.5rem;
      color: #fff;
      text-transform: uppercase;
      text-shadow: 0 0 20px #ff00de, 0 0 40px #ff00de;
      /* Glow roz neon */
      margin-bottom: 60px;
      letter-spacing: 4px;
}

.history-section {
      max-width: 900px;
      margin: 0 auto 40px;
      padding: 40px;
      background: rgba(255, 255, 255, 0.03);
      border-left: 4px solid #00f3ff;
      border-radius: 0 15px 15px 0;
      transition: transform 0.3s ease;
}

.history-section:hover {
      background: rgba(255, 255, 255, 0.07);
      transform: translateX(10px);
}

.history-section h2 {
      color: #00f3ff;
      font-size: 1.8rem;
      margin-bottom: 15px;
      text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}

.history-section p {
      color: #eee;
      line-height: 1.6;
      font-size: 1.1rem;
}

.history-section {
      border-bottom: none;
}

.history-page .history-section:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 50px;
}