@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=VT323&display=swap');

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html,
body {
      max-width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
}

body {
      background: linear-gradient(315deg, #ff006e 0%, #8338ec 50%, #3a86ff 100%);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
h6 {
      font-family: 'VT323', monospace;
      text-transform: uppercase;
      letter-spacing: 2px;
}

h1 {
      font-size: 4.5rem;
}

h2 {
      font-size: 2.5rem;
}

p {
      font-family: 'Exo 2', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
}


/*Header and Nav*/

nav {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      z-index: 1000;
      justify-content: center;
      align-items: center;
      background-color: #050505;
      border-bottom: 2px solid #ff00de;
      box-shadow: 0 2px 15px rgba(255, 0, 222, 0.4);
      margin: 0;
      padding: 0;
}

.nav-link {
      display: flex;
      list-style: none;
      gap: 30px;
      margin: 0;
      padding: 0;
}

.nav-link a {
      font-family: 'VT323', monospace;
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      transition: 0.3s;
}

.nav-link a:hover {
  color: #00f3ff;
  text-shadow: 0 0 10px #00f3ff;
}

/* Footer */
.main-footer {
      padding: 40px 10%;
      background: #000;
      text-align: center;
      color: #666;
      font-family: 'Courier New', Courier, monospace;
}

.footer-line {
      height: 2px;
      background: linear-gradient(90deg, transparent, #ff00de, #00f3ff, transparent);
      margin-bottom: 30px;
}

.main-footer span {
      color: #00f3ff;
      font-weight: bold;
}

.footer-socials {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 30px;
}

.footer-socials a {
      color: #444;
      text-decoration: none;
      font-size: 0.9rem;
      transition: 0.3s;
}

.footer-socials a:hover {
      color: #ff00de;
      text-shadow: 0 0 5px #ff00de;
}